@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
/* {
  //outline: 1px solid red;
}
*/
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: hsl(0deg, 0%, 95%);
}

.title {
  margin: 3rem 3rem 4.5rem;
  text-align: center;
  font-size: 1.8rem;
  color: #737373;
  line-height: 1rem;
}
.title #org {
  text-transform: uppercase;
}
.title #RH {
  color: #00a4ef;
}

#search-container {
  width: 40vw;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
  box-shadow: rgb(130, 130, 130) 10px 6px 24px 0px, rgb(129, 129, 129) 0px 8px 10px 0px;
  border-radius: 1.2rem;
  background-color: hsl(0deg, 0%, 85%);
}
#search-container #serch-bar {
  height: 1.5rem;
  width: 20rem;
  padding: 0 0.5rem;
  background-color: #f3f3f3;
  outline: 2px solid #4d4d4d;
  border-radius: 1em;
}
#search-container button {
  margin-left: 1rem;
  border: none;
  background-color: hsla(0deg, 0%, 0%, 0);
  vertical-align: bottom;
  font-size: 1rem;
  cursor: pointer;
}

#list-container {
  margin: 3rem auto 0;
  padding: 0.2rem 2rem;
  min-height: 57vh;
  max-width: 50vw;
  min-width: 30vw;
  box-shadow: rgb(130, 130, 130) 12px 10px 28px 0px, rgb(129, 129, 129) 0px 8px 10px 0px;
  border-radius: 1.2rem;
  background-color: hsl(0deg, 0%, 85%);
}
#list-container p {
  font-size: 1.1rem;
  font-weight: 600;
}

#repo-card {
  min-height: 7rem;
  min-width: 20rem;
  padding: 1.2rem 1rem 0.8rem;
  margin: 2.8rem auto;
  background-color: #f3f3f3;
  outline: 4px solid #404040;
  border-radius: 1em;
}
#repo-card #repo-name {
  font-size: 1.3rem;
  font-weight: 600;
  color: #005e89;
}
#repo-card #repo-name span {
  font-size: 1.3rem;
  vertical-align: text-bottom;
}
#repo-card #bottom-data {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
#repo-card #repo-description {
  max-width: 32rem;
}
#repo-card #repo-stargazers {
  margin: auto 1rem 1rem auto;
  font-size: 1.9rem;
}
#repo-card #repo-stargazers span {
  font-size: 1.9rem;
  vertical-align: text-bottom;
}

#pagination {
  width: 45vw;
  margin: 2rem auto 3rem;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  box-shadow: rgb(130, 130, 130) 12px 10px 28px 0px, rgb(129, 129, 129) 0px 8px 10px 0px;
  border-radius: 1.2rem;
  background-color: hsl(0deg, 0%, 85%);
}
#pagination li {
  display: inline;
  font-size: 1.3rem;
  font-weight: 600;
}
#pagination li a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  color: #000;
}

#loading-box {
  height: 3rem;
  width: 10rem;
  left: 45%;
  top: 65vh;
  background-color: #00a4ef;
  outline: 4px solid #005e89;
  position: absolute;
  border-radius: 1rem;
  display: grid;
  justify-items: center;
  align-content: center;
  font-size: large;
  font-weight: 600;
}

#error-box {
  width: 50vw;
  height: 10rem;
  left: 24.7%;
  top: 50vh;
  background-color: #f25022;
  outline: 5px solid #a42c0a;
  position: absolute;
  border-radius: 1rem;
  display: grid;
  justify-items: center;
  align-content: center;
  font-size: large;
  font-weight: 600;
}
#error-box h2 {
  margin-bottom: 0rem;
}
#error-box p {
  margin-top: 0rem;
}/*# sourceMappingURL=App.css.map */